/*Configure the tab buttons*/
.sheet-input,
.sheet-ship {
    display: none;
}


/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="ship"] ~ div.sheet-ship {
    display: block;
}


.mysheet {
    width: 830px;
    height: 730px;
}
.attributes {
    padding: 15px 0px 0px 15px;
}

input[type="hidden"][name="attr_faction"] ~ .mysheet {
    background-color: lightgray;
}
input[type="hidden"][name="attr_faction"][value="Federation"] ~ .mysheet {
    background-color: mediumblue;
}
input[type="hidden"][name="attr_faction"][value="Klingon"] ~ .mysheet {
    background-color: black;
}


main {
  display: grid;
  width: 800px;
  height: 700px;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(7,1fr);
  grid-template-areas:  "top    top  top top"
                        "top    top  top top"
                        "core  ship ship helm"
                        "ops  ship ship damage"
                        "eng   ship ship damage"
                        "eng   ship ship damage"
                        "eng   ship ship damage";
}



/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: black;
}
.charsheet h2{
  text-align: center;
  color:  darkred;
}
.charsheet h3{
  text-align: center;
  color: black;
}

.charsheet h4{
  text-align: center;
  color: white;
}

.charsheet h5{
  text-align: center;
  color: white;
}



/*------------- Section-specific CSS -------------*/

/* Main Grid */
.top {
    grid-area: top;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    align-items: center;
    background-image: url("https://files.d20.io/images/494928727/5D-S5MXOUCAVrm2NrpqxMA/thumb.jpg?1784752628");
    background-repeat: repeat;
}

.class {
  grid-area: class;
  background-color:  white;
}
.helm {
    grid-area: helm;
    background-color:  white;
}
.helm h3{
    color: black;
}
.helm h4{
    color: darkred;
}

.core {
  grid-area: core;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    background-color: white;
}
.eng {
  grid-area: eng;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    background-color: white;
}

.ops {
  grid-area: ops;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    background-color: white;
}

.ship {
    grid-area: ship;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(11,1fr);
    background-color: white;
    position: relative;
}



.damage {
    grid-area: damage;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10,1fr);
    background-color: white;
}


/* Damage Sub Areas */
.d1status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="All Systems Nominal"].d1-status ~ .d1status{
    background-color: green;
}

.d2status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d2-status ~ .d2status{
    display: none;
}

.d3status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d3-status ~ .d3status{
    display: none;
}

.d4status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d4-status ~ .d4status{
    display: none;
}

.d5status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d5-status ~ .d5status{
    display: none;
}

.d6status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d6-status ~ .d6status{
    display: none;
}

.d7status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d7-status ~ .d7status{
    display: none;
}

.d8status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d8-status ~ .d8status{
    display: none;
}

.d9status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d9-status ~ .d9status{
    display: none;
}

.d10status {
    display: grid;
    grid-gap: 1px;
    text-align: center;
    align-items: center;
    padding: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color:  red;
} 
input[type="hidden"][value="None"].d10-status ~ .d10status{
    display: none;
}



/* Ship Sub Areas*/


.toppic {
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://files.d20.io/images/494928727/5D-S5MXOUCAVrm2NrpqxMA/thumb.jpg?1784752628");
    background-repeat: repeat;
    overflow: hidden;
}


.pos25 {
    grid-column: 5/6;
    grid-row: 2/3;
}
.pos35{
    grid-column: 5/6;
    grid-row: 3/4;
}




.toppic img{
    flex-shrink: 0;
    width: auto;
    max-height: 100%;
}

/* Weapon 1 */
input[type="hidden"][value="Off"].weapon1-status ~ .weapon1{
    display: none;
}
input[type="hidden"][value="Normal"].weapon1-status ~ .weapon1{
    display: grid;
}
input[type="hidden"][value="Damaged"].weapon1-status ~ .weapon1{
    display: grid;
}
input[type="hidden"][value="Fired"].weapon1-status ~ .weapon1{
    display: grid;
}




.weapon1 img{
    flex-shrink: 0;
    width: 40px;
    height: 40px;
}






/* core Sub Sections */

.commandstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].command-status ~ .commandstatus {
    background-color: red;
}
input[type="hidden"][value="Orange"].command-status ~ .commandstatus {
    background-color: orange;
}
input[type="hidden"][value="Orange"].command-status ~ .commandstatus h4{
    color: black;
}
input[type="hidden"][value="Green"].command-status ~ .commandstatus {
    background-color: green;
}


.lifesupportstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].lifesupport-status ~ .lifesupportstatus {
    background-color: red;
}
input[type="hidden"][value="Green"].lifesupport-status ~ .lifesupportstatus {
    background-color: green;
}

.warpcorestatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].lifesupport-status ~ .warpcorestatus {
    background-color: red;
}
input[type="hidden"][value="Green"].lifesupport-status ~ .warpcorestatus {
    background-color: green;
}

/* Eng Sub Sections */


.warpdrivestatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].warpdrive-status ~ .warpdrivestatus {
    background-color: red;
}
input[type="hidden"][value="Green"].warpdrive-status ~ .warpdrivestatus {
    background-color: green;
}

.impulsestatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].impulse-status ~ .impulsestatus {
    background-color: red;
}
input[type="hidden"][value="Yellow"].impulse-status ~ .impulsestatus {
    background-color: yellow;
}
input[type="hidden"][value="Yellow"].impulse-status ~ .impulsestatus h4{
    color: black;
}
input[type="hidden"][value="Green"].impulse-status ~ .impulsestatus {
    background-color: green;
}


.hullstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Dark Red"].hull-status ~ .hullstatus {
    background-color: darkred;
}
input[type="hidden"][value="Red"].hull-status ~ .hullstatus {
    background-color: red;
}
input[type="hidden"][value="Orange"].hull-status ~ .hullstatus {
    background-color: orange;
}
input[type="hidden"][value="Orange"].hull-status ~ .hullstatus h4{
    color: black;
}
input[type="hidden"][value="Yellow"].hull-status ~ .hullstatus {
    background-color: yellow;
}
input[type="hidden"][value="Yellow"].hull-status ~ .hullstatus h4{
    color: black;
}
input[type="hidden"][value="Green"].hull-status ~ .hullstatus {
    background-color: green;
}


.shieldstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Green"].shield-status ~ .shieldstatus {
    background-color:  green;
}
input[type="hidden"][value="Yellow"].shield-status ~ .shieldstatus {   
    background-color:  yellow;
}
input[type="hidden"][value="Yellow"].shield-status ~ .shieldstatus h4{   
    color:  black;
}
input[type="hidden"][value="Red"].shield-status ~ .shieldstatus {   
    background-color:  red;
}

/* Ops Sub Sections */

.firecontrolstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Red"].firecontrol-status ~ .firecontrolstatus {
    background-color: red;
}
input[type="hidden"][value="Yellow"].firecontrol-status ~ .firecontrolstatus {
    background-color: yellow;
}
input[type="hidden"][value="Yellow"].firecontrol-status ~ .firecontrolstatus h4{
    color: black;
}
input[type="hidden"][value="Green"].firecontrol-status ~ .firecontrolstatus {
    background-color: green;
}

.crewstatus {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    padding: 3px;   
}
input[type="hidden"][value="Dark Red"].crew-status ~ .crewstatus {
    background-color: darkred;
}
input[type="hidden"][value="Red"].crew-status ~ .crewstatus {
    background-color: red;
}
input[type="hidden"][value="Orange"].crew-status ~ .crewstatus {
    background-color: orange;
}
input[type="hidden"][value="Orange"].crew-status ~ .crewstatus h4{
    color: black;
}
input[type="hidden"][value="Yellow"].crew-status ~ .crewstatus {
    background-color: yellow;
}
input[type="hidden"][value="Yellow"].crew-status ~ .crewstatus h4{
    color: black;
}
input[type="hidden"][value="Green"].crew-status ~ .crewstatus {
    background-color: green;
}





/* Top Sub Areas */
.sidepic {
    grid-row: 1/-1;
    grid-column: 2/4;
    align-items: center;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.sidepic img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.namearea {
    grid-row: 1/-1;
    grid-column: 1/2;
    text-align: center;
    align-items: center;
    padding: 3px;
}
.namearea h1{
    color: white;
}
.namearea h3{
    color: white;
}
.namearea h4{
    color: white;
}


.iconarea {
    grid-row: 1/-1;
    grid-column: 4/-1;
    align-items: center;
    padding: 3px;
}
.iconarea img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}